beautifulsoup4==4.13.4
langchain==0.3.25
langchain_google_genai==2.1.5
pinecone==7.1.0
python-dotenv==1.1.0
Requests==2.32.4
sentence_transformers==4.0.2
simple_term_menu==1.6.6
streamlit==1.44.1
tiktoken==0.9.0
torch==2.6.0
mysql-connector-python